/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run bigbio/proteomicsTMT -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  input = [
  	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2016/12/PXD003772/Natalia_TMT6_1_240m_1pt5.raw',
  	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2016/12/PXD003772/Natalia_TMT6_2_240min_1pt5.raw'
  ]
  database = 'https://raw.githubusercontent.com/daichengxin/proteomicstmt/dev/tmt_testdata/uniprot-Mouse_reviewed.fasta'
  expdesign = 'https://raw.githubusercontent.com/daichengxin/proteomicstmt/dev/tmt_testdata/experimental_design.tsv'
  posterior_probabilities = "percolator"
  search_engines = "msgf"
  protein_level_fdr_cutoff = 0.01
  decoy_affix = "rev"
  label = 'tmt6plex'
  fragment_method = 'HCD'
  add_decoys = true
  protocol = 'TMT'
  variable_mods = 'Oxidation (M)'
  fixed_mods = 'Carbamidomethyl (C),TMT6plex (K),TMT6plex (N-term)'
}
