/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run bigbio/proteomicsTMT -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 1.h
  
  // Input data
  input = [
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2020/07/PXD017201/LJMP_Melanoma_QE_20170310_TMT_set5_1mgIPG3-10_fr68.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2020/07/PXD017201/LJMP_Melanoma_QE_20170310_TMT_set5_1mgIPG3-10_fr69.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2020/07/PXD017201/LJMP_Melanoma_QE_20170310_TMT_set5_1mgIPG3-10_fr70.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2020/07/PXD017201/LJMP_Melanoma_QE_20170310_TMT_set5_1mgIPG3-10_fr71.raw',
    'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2020/07/PXD017201/LJMP_Melanoma_QE_20170310_TMT_set5_1mgIPG3-10_fr72.raw'
  ]
  database = 'https://raw.githubusercontent.com/daichengxin/proteomicsTMT-1/main/tmt_testdata/TAIR10_pep_20101214.fasta'
  expdesign = 'https://raw.githubusercontent.com/daichengxin/proteomicsTMT-1/main/tmt_testdata/experimental_design.tsv'
  posterior_probabilities = "percolator"
  search_engines = "msgf"
  protein_level_fdr_cutoff = 1.0
  decoy_affix = "rev"
  label = 'tmt10plex'
  fragment_method = 'HCD'
  add_decoys = true
  protocol = 'TMT'
}
