/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run bigbio/proteomicsTMT -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  input = [
  	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MCF10Achalcone_1.raw',
  	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MCF10Achalcone_2.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MCF10Achalcone_3.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MCF12Achalcone_1.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MCF12Achalcone_2.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MCF12Achalcone_3.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MDAMB231chalcone_1.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MDAMB231chalcone_2.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MDAMB231chalcone_3.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MDAMB468chalcone_1.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MDAMB468chalcone_2.raw',
	'ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2018/09/PXD009553/MDAMB468chalcone_3.raw'
  ]
  database = 'https://raw.githubusercontent.com/bigbio/proteomicstmt/main/tmt_testdata/human.fasta'
  expdesign = 'https://raw.githubusercontent.com/bigbio/proteomicstmt/main/tmt_testdata/experimental_design.tsv'
  posterior_probabilities = "percolator"
  search_engines = "msgf"
  protein_level_fdr_cutoff = 1.0
  decoy_affix = "rev"
  label = 'tmt6plex'
  fragment_method = 'HCD'
  add_decoys = true
  protocol = 'TMT'
  variable_mods = 'Acetyl (Protein N-term),Gln->pyro-Glu (N-term Q),Glu->pyro-Glu (N-term E),Oxidation (M)'
  fixed_mods = 'Carbamidomethyl (C),TMT6plex (K),TMT6plex (N-term)'
}
